.cart-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-items-list {
  max-width: 45vw;
}

.cart-total-price {
}

.cart-total-price span {
  margin-left: 10px;
  font-weight: 500;
  font-size: var(--font-size-larger);
}
